---
import Layout from '../layouts/Layout.astro';
import About from '../components/About.astro';
import Timeline from '../components/Timeline.astro';
import data from '../data/site.json';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import Divider from '../components/Divider.astro';
import Numbers from '../components/Numbers.astro';
---

<Layout title={data.siteName}>
  <main>
    <!--<Nav />-->
    <Hero />
    <About />
    <Divider />
    <Numbers />
    <Divider />
    <Timeline />
  </main>
</Layout>
