<section class="bg-dark">
  <div class="h-[500px] overflow-hidden">
    <video
      id="video"
      autoplay
      loop
      muted
      preload="auto"
      class="w-full relative"
    >
      <source id="videoSource" src="/vid/plose.webm" type="video/webm" />
    </video>
  </div>
</section>
