<section class="p-8 grid grid-cols-3">
  <h1 class="col-span-1 font-semibold opacity-50">About Us</h1>
  <h2
    class="col-span-2 mb-4 sm:text-3xl text-lg leading-relaxed text-gray-900 dark:text-white"
  >
    “Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    Lorem Ipsum has been the industry's standard dummy text ever since the
    1500s.”
  </h2>
</section>
