---
import data from '../data/site.json';
---

<section class="p-8 grid grid-cols-3">
  <h1 class="col-span-1 font-semibold opacity-50">About Us</h1>
  <h2
    class="col-span-2 mb-4 sm:text-2xl text-lg leading-relaxed text-gray-900 dark:text-white"
  >
    {data.home.about}
  </h2>
</section>
