<footer class="bg-white py-5 px-10">
  <div class="flex gap-28 w-full">
    <div class="flex flex-col gap-3">
      <h6 class="text-lg font-semibold">Location</h6>
      <p class="tracking-wide opacity-60">
        Valentinweg 7
        <br />
        39040 Funes
        <br />
        BZ, Italy
      </p>
    </div>

    <div class="flex flex-col gap-3">
      <h6 class="text-lg font-semibold">Contact</h6>
      <p class="tracking-wide opacity-60">
        info@plosefly.com
        <br />
        +39 348 424 7767
        <br />
        Service Hours: Mon-Fri, 9 AM - 6 PM
      </p>
    </div>
  </div>
</footer>
