<footer class="bg-white py-10 px-14 mb-12">
  <div class="flex gap-28 w-full">
    <div class="flex flex-col gap-3">
      <h6 class="text-lg font-semibold">Location</h6>
      <p class="text-gray-400 tracking-wide leading-6">
        Valentinweg 7
        <br />
        39040 Funes
        <br />
        BZ, Italy
      </p>
    </div>

    <div class="flex flex-col gap-3">
      <h6 class="text-lg font-semibold">Contact</h6>
      <p class="text-gray-400 tracking-wide leading-6">
        <a href="mailto:info@plosefly.com" class="hover:underline"
          >info@plosefly.com</a
        >
        <br />
        <a href="tel:+393484246667" class="hover:underline">+39 348 424 7767</a>
        <br />
        Office Hours: Mon-Fri, 9 AM - 6 PM
      </p>
    </div>
  </div>
</footer>
