---
import data from '../data/site.json';
---

<section
  class="p-8 flex flex-col sm:flex-row sm:space-x-20 lg:space-x-44 space-y-8 sm:space-y-0"
>
  <div class="flex flex-col space-y-2">
    <p class="text-5xl font-bold">2</p>
    <p>
      professional Pilots with years of experience in tandem paragliding. Safety
      is our top priority, your flight will be smooth and safe!
    </p>
  </div>

  <div class="flex flex-col space-y-2">
    <p class="text-5xl font-bold">800+</p>
    <p>satisfied adventurers just like yourself!</p>
  </div>

  <div class="flex flex-col space-y-2">
    <p class="text-5xl font-bold">6+</p>
    <p>
      stunning flying areas in South Tyrol, each providing a unique and
      breathtaking view.
    </p>
  </div>
</section>
