---
import Button from './Button.astro';
import Divider from './Divider.astro';
---

<section class="flex bg-dark rounded-xl gap-4 h-64">
  <div class="flex flex-col gap-4 p-10">
    <div>
      <h2 class="font-display text-white text-2xl font-semibold tracking-wide">
        GLIDE
      </h2>
      <p class="text-white mt-2">
        Plose is a fantastic choice for your tandem flight, offering sweeping
        views of the majestic Dolomites and the picturesque town of Brixen.
      </p>
    </div>

    <div class="flex justify-between items-end">
      <a href="#" class="mt-5 text-primary hover:underline">read more</a>
      <h2 class="text-white text-3xl font-bold leading-none">€ 100</h2>
    </div>
  </div>

  <Divider orientation="vertical" color="#ffffff" />

  <div class="flex flex-col gap-4 p-10">
    <div>
      <h2 class="font-display text-white text-2xl font-semibold tracking-wide">
        THERMAL FLIGHT
      </h2>
      <p class="text-white mt-2">
        Plose is a fantastic choice for your tandem flight, offering sweeping
        views of the majestic Dolomites and the picturesque town of Brixen.
      </p>
    </div>

    <div class="flex justify-between items-end">
      <a href="#" class="mt-5 text-primary hover:underline">read more</a>
      <h2 class="text-white text-3xl font-bold leading-none">€ 120</h2>
    </div>
  </div>

  <Divider orientation="vertical" color="#ffffff" />

  <div class="flex flex-col gap-4 p-10">
    <div>
      <h2 class="font-display text-white text-2xl font-semibold tracking-wide">
        GOLDEN HOUR FLIGHT
      </h2>
      <p class="text-white mt-2">
        Plose is a fantastic choice for your tandem flight, offering sweeping
        views of the majestic Dolomites and the picturesque town of Brixen.
      </p>
    </div>

    <div class="flex justify-between items-center">
      <Button href="#" size="small" class="mt-2">read more</Button>
      <h2 class="text-white text-3xl font-bold leading-none">€ 150</h2>
    </div>
  </div>
</section>
