---
import Button from './Button.astro';
import Divider from './Divider.astro';
---

<section class="flex bg-dark rounded-xl gap-4 h-64">
  <div class="flex flex-col gap-4 p-10">
    <div>
      <h2
        class="font-display text-gray-100 text-2xl font-semibold tracking-wide"
      >
        GLIDE
      </h2>
      <p class="text-gray-100 mt-2 font-light">
        Plose is a fantastic choice for your tandem flight, offering sweeping
        views of the majestic Dolomites and the picturesque town of Brixen.
      </p>
    </div>

    <div class="flex justify-between items-end">
      <a
        href="/tandem/plose?flight=glide"
        class="mt-5 text-primary hover:underline">read more</a
      >
      <h2 class="text-gray-100 text-3xl font-bold leading-none">€ 100</h2>
    </div>
  </div>

  <Divider orientation="vertical" color="#3f3f46" />

  <div class="flex flex-col gap-4 p-10">
    <div>
      <h2
        class="font-display text-gray-100 text-2xl font-semibold tracking-wide"
      >
        THERMAL FLIGHT
      </h2>
      <p class="text-gray-100 mt-2 font-light">
        Plose is a fantastic choice for your tandem flight, offering sweeping
        views of the majestic Dolomites and the picturesque town of Brixen.
      </p>
    </div>

    <div class="flex justify-between items-end">
      <a
        href="/tandem/plose?flight=thermal"
        class="mt-5 text-primary hover:underline"
      >
        read more
      </a>
      <h2 class="text-gray-100 text-3xl font-bold leading-none">€ 120</h2>
    </div>
  </div>

  <Divider orientation="vertical" color="#3f3f46" />

  <div class="flex flex-col gap-4 p-10">
    <div>
      <h2
        class="font-display text-gray-100 text-2xl font-semibold tracking-wide"
      >
        SUNSET FLIGHT
      </h2>
      <p class="text-gray-100 mt-2 font-light">
        Plose is a fantastic choice for your tandem flight, offering sweeping
        views of the majestic Dolomites and the picturesque town of Brixen.
      </p>
    </div>

    <div class="flex justify-between items-center">
      <Button href="/plose?flight=sunset" size="small" class="mt-2">
        read more
      </Button>
      <h2 class="text-gray-100 text-3xl font-bold leading-none">€ 150</h2>
    </div>
  </div>
</section>
