---
interface Props {
  title: string;
}
import { ViewTransitions } from 'astro:transitions';

import Footer from '../components/Footer.astro';
import Divider from '../components/Divider.astro';
import Social from '../components/Social.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <ViewTransitions />
    <meta charset="UTF-8" />
    <meta name="description" content={'TODO'} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title id="title">PloseFly 🪂</title>

    <!-- Title glider animation -->
    <script is:inline>
      const title = document.getElementById('title');
      let spaceCount = 1;

      setInterval(() => {
        if (spaceCount == 35) spaceCount = 0;
        title.innerHTML = `PloseFly${'&nbsp;'.repeat(spaceCount)}🪂`;
        spaceCount++;
      }, 500);
    </script>

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

      * {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
      }

      .container {
        max-width: 1536px;
        margin: 0 auto;
        padding: 1rem;
      }
      .section {
        padding: 60px 0;
      }

      @media (max-width: 767px) {
        main {
          min-height: calc(100vh - 69px);
        }
      }
    </style>
  </head>
  <body>
    <div class="bg-gray-50 dark:bg-dark min-h-screen">
      <div class="container">
        <slot />
        <div class="m-0 p-0 overflow-hidden w-full -mb-12 opacity-10 relative">
          <svg
            width="100%"
            height="100%"
            viewBox="0 0 368 75"
            preserveAspectRatio="xMinYMid meet"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <text x="0" y="75" font-size="75" font-weight="bold" fill="black">
              PLOSEFLY
            </text>
          </svg>
        </div>
      </div>
    </div>

    <Divider />

    <div class="z-50 relative">
      <div class="max-w-[1536px] m-auto">
        <Footer />
      </div>

      <Divider />

      <div class="container">
        <div class="flex justify-between items-center px-10">
          <Social color="#7F7F7F" />
          <p class="text-sm opacity-50">
            © {new Date().getFullYear()} PloseFly. All rights reserved.
          </p>
          <a class="text-sm opacity-50">Terms & Conditions</a>
        </div>
      </div>
    </div>
  </body>
</html>
